<!-- Header -->
<header id="header">
    <a href="/index.html" class="logo">Welcome to <strong>Zhiyi's</strong> homepage</a>
    <ul class="icons">
        <li><a href="https://github.com/Zhiyi-Zhang" class="icon fa-github"><span class="label">GitHub</span></a></li>
        <li><a href="https://gitlab.com/zhiyi" class="icon fa-gitlab"><span class="label">GitLab</span></a></li>
        <li><a href="https://www.linkedin.com/in/zhiyi-zhang/" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
        <li><a href="https://orcid.org/0000-0003-0442-5885/" class="icon fa-orcid"><span class="label">ORCID</span></a></li>
        <li><a href="https://scholar.google.com/citations?hl=en&user=SnBvjxEAAAAJ" class="icon fa-graduation-cap"><span class="label">Google Scholar</span></a></li>
    </ul>
</header>