<!-- Sidebar -->
<div id="sidebar">
    <div class="inner">
        <!-- Menu -->
        <nav id="menu" aria-label="Site navigation">
            <header class="major">
                <h2>Navigation</h2>
            </header>
            <ul>
                <li><a href="/index.html"{% if page.url == "/index.html" or page.url == "/" %} aria-current="page"{% endif %}>Homepage</a></li>
                <li><a href="/publications.html"{% if page.url contains "publications" %} aria-current="page"{% endif %}>Publications</a></li>
                <li><a href="/talks.html"{% if page.url contains "talks" %} aria-current="page"{% endif %}>Talks</a></li>
                <li><a href="/profile.html"{% if page.url contains "profile" %} aria-current="page"{% endif %}>Profile</a></li>
            </ul>
        </nav>
        <!-- Section -->
        <section>
            <header class="major">
                <h2>Contact</h2>
            </header>
            <ul class="contact">
                <li class="fa-envelope"><a href="mailto:zhiyi@cs.ucla.edu">zhiyi@cs.ucla.edu</a></li>
                <li class="fa-github"><a href="https://github.com/Zhiyi-Zhang" target="_blank" rel="noopener noreferrer">Zhiyi-Zhang@GitHub</a></li>
                <li class="fa-gitlab"><a href="https://gitlab.com/zhiyi" target="_blank" rel="noopener noreferrer">zhiyi@GitLab</a></li>
                <li class="fa-linkedin"><a href="https://www.linkedin.com/in/zhiyi-zhang/" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
                <li class="fa-orcid"><a href="https://orcid.org/0000-0003-0442-5885/" target="_blank" rel="noopener noreferrer">ORCID</a></li>
                <li class="fa-graduation-cap"><a href="https://scholar.google.com/citations?hl=en&user=SnBvjxEAAAAJ" target="_blank" rel="noopener noreferrer">Google Scholar</a></li>
            </ul>
        </section>
        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; zhiyi-zhang.com. All rights reserved. &middot; Last updated 2026</p>
        </footer>
    </div>
</div>
